#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1 About #{system.name}
p
  | EvoGames is a service designed to track participation in online 
  | gaming events, ladders, and tournaments, and to provide statistics 
  | and records for such events.
p
  | The system backend is written entirely in Javascript, employing the
  a(href="http://nodejs.org", rel="blank") Node.JS 
  |  and 
  a(href="http://expressjs.com", rel="blank") Express
  |  frameworks. All data is stored with 
  a(href="http://couchdb.apache.org/") CouchDB
  | .
p
  | If you would like to get involved, please 
  a(href="/contact") contact us
  |  and we will consider your offer of assistance.  
