h1 About

h2 About #{system.name}
p
  | #{system.name} is a service designed to track participation in online gaming
  | events, ladders, and tournaments, and to provide statistics and records for 
  | such events. This allows groups to hold internal or external competitions
  | without having to keep spreadsheets to determine the winners and losers.
p
  | Events, tournaments, and ladders are not only for groups. They can also be
  | for individual competition, allowing players to register alone and compete
  | just for themselves. Individuals only need (and may only have) 1 player
  | account, but through the use of aliases, that account can be used to play
  | under any number of names or callsigns and can join any number of groups.
p
  | Registration is required with each event, tournament, and ladder, but the
  | registration policy can vary from entirely open, to requiring approval of
  | registrations, to being by invite only. Having a single player account lets
  | you choose with which alias to register for any given event (and you can even
  | register with more than one alias if the event rules permit).
p
  | Many games are currently supported, and others can be added by sending in a
  | request. Stats for each game are fully configurable. Choose to us one of the
  | pre-defined game types or make up your own to suit your event's individual
  | needs. Player statistics are also aggregated across events for comparison
  | with your friends and competitors (when using a pre-configured game type).

h2 About Getting Involved
p
  | Getting involved at the most basic level is easy: registering an account,
  | joining groups, and playing in events are all good ways to help #{system.name}
  | grow.
p
  | If you are a benevolent type and would like to help with system administration
  | on a volunteer basis, or if you are a programmer and would like to help
  | improve the system or add new features, please
  a(href="/contact") contact us
  |  with what you would like to do and your experience, and we will gladly
  | consider your offer.

h2 About the System
p
  | The system backend is written entirely in Javascript, employing the
  a(href="http://nodejs.org", rel="blank") node.js
  |  and
  a(href="http://expressjs.com", rel="blank") Express
  |  frameworks. All data is stored with
  a(href="http://couchdb.apache.org/", rel="blank") CouchDB
  | .
