h1 Contact Information
p
  | To report a bug with the site or to request a new feature, please
  | visit our
  a(href="http://evogames.lighthouseapp.com/projects/60532-evogames/overview", rel="blank") Lighthouse Tracker
  | .
p
  | For information regarding EvoGames or for any other notification or 
  | request, please send an e-mail to:
  a(href="mailto:system@evogames.org") system@evogames.org
