h1 Contact

h2 Bugs, Features, and Requests
p
  | Problems with the site occur from time to time. If you notice a problem or
  | think of a new feature that you would like to be added, please
  | create a ticket at our
  a(href="http://evogames.lighthouseapp.com/projects/60532-evogames/overview", rel="blank") Lighthouse Tracker
  |  or send an e-mail to
  a(href="mailto:engineering@evogames.org") engineering@evogames.org
  | . In the ticket or e-mail, please be as specific as possible as to what went
  | wrong or what the feature is that you would like to be added.

h2 Staff and Programming Assistance
p
  | Registered players are welcome to apply to help with system administration
  | or engineering on a volunteer basis. If you are interested, please send an
  | e-mail to
  a(href="mailto:apps@evogames.org") apps@evogames.org
  |  with details on how you can help and your experience.
p
  | From time to time, specific positions may be advertised, but feel free to 
  | submit an application at any time. If there is not a suitable position 
  | available, your e-mail applications will be kept on file indefinitely and
  | reconsidered for future openings. If you would like to update your
  | experience or interests, please feel free to send an updated application
  | e-mail.

h2 General Contact Information
p
  | For information regarding EvoGames or for any other notification or
  | request, please send an e-mail to:
  a(href="mailto:system@evogames.org") system@evogames.org
  | .