h1 Index!

form
  input(type="color", required="required")
  br
  input(type="tel", placeholder="Telephone Number")
  br
  input(type="search")
  br
  input(type="url", readonly="readonly", value="http://www.evogames.org")
  br
  input(type="email", multiple="multiple", value="system@evogames.org,system@hallofkvasir.org")
  br
  input(type="range", min="0", max="1", step="0.1")
  br
  input(type="number", min="0", max="1", step="0.2")
  br
  input(type="week")
  br
  input(type="time")
  br
  input(type="month")
  br
  input(type="date")
  br
  input(type="datetime-local")
  br
  input(type="datetime")
