#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1 Player Log In
form(method="post", accept-charset="utf-8")
  fieldset
    input(type="hidden", name="csrf", value=csrf)
    .form-line
      label(for="email") E-Mail Address
      br
      input#email.text(type="email", name="email", value=errors ? data.email : "")
    .form-line
      label(for="password") Password
      br
      input#password.text(type="password", name="password", value=errors ? data.password : "")
    .form-line
      input(type="checkbox", name="remember_me", id="remember_me", value="yes") 
      | &#32;
      label(for="remember_me") Remember Login?
    .form-line
      input#referrer(type="hidden", name="referrer", value=referrer)
      button.button.positive(type="submit")
        img(src="/css/icons/tick.png",alt="")
        | &#32;Log In
    .form-line
      a(href="/player/lostpass") Lost Password?
      span.link-sep |
      a(href="/player/register") Register
