#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1 Privacy Policy
p
  | This Privacy Policy describes EvoGames' policies and procedures on 
  | the collection, use and disclosure of your information. EvoGames 
  | receives your information through our various web sites, SMS, APIs, 
  | services and third-parties ("Services"). When using any of our 
  | Services you consent to the collection, transfer, manipulation, 
  | storage, disclosure and other uses of your information as described 
  | in this Privacy Policy.
p
  | If you have any questions or comments about this Privacy Policy, 
  | please contact us at 
  a(href="mailto:privacy@evogames.org") privacy@evogames.org
  
h2 Information Collection and Use

h3 Information Collected Upon Registration
p
  | When you create or edit an EvoGames account, you provide some 
  | personal information, such as your handle, alias, password, and email 
  | address. Some of this information, such as your handle and aliases, 
  | is made publicly available through such means as event results and 
  | profile pages. Some of these services do not require registration.
  
h3 Additional Information 
p
  | You may provide us with additional information to make public, such 
  | as a short biography, your location, or a picture. As part of the 
  | Services we provide, you will receive notifications of reported 
  | participation and other actions. You may disable these notifications
  | through the directions provided in the messages or through the website.
  | Information beyond what is required for registration is entirely 
  | optional.

h3 Event Participation and other Public Information
p
  | Our Services are primarily designed to help you share information 
  | with the world through the submission of gaming and other information.
  | This includes event participation reports, status updates, and 
  | players with whom you interact. This data may all be made publicly
  | available.
  
h3 Log Data
p
  | Our servers automatically record information ("Log Data") created by 
  | your use of the Services. Log Data may include information such as 
  | your IP address, browser type, the referring domain, pages visited, 
  | and search terms. Other actions, such as interactions with 
  | advertisements, may also be included in Log Data.
  
h3 Links
p
  | EvoGames may keep track of how you interact with links by 
  | redirecting clicks or through other means. We do this to help 
  | improve our Services, including advertising, and to be able to share 
  | aggregate click statistics such as how many times a particular link 
  | was clicked on.

h3 Cookies
p
  | EvoGames, like many websites, employs cookies in its regular functioning.
  | These cookies are used to determine player authorization and to 
  | improve our Services. We do not require cookies for many parts of our 
  | Services such as looking at public profiles or event results. A 
  | cookie is a small data file that is transferred to your computer's 
  | hard disk. EvoGames uses both session cookies and, at your request, 
  | persistent cookies. If you do not wish to use cookies, you can 
  | configure your browser to not accept them, or to prompt before 
  | accepting them. Please note that without allowing cookies, you will
  | not be able to authenticate with our Services.
  
h3 Third Party Services
p
  | EvoGames employs a number of services hosted by third parties to
  | provide various parts of our Services. Among these are bug-tracking,
  | e-mail, and Google Analytics. These services may collect information 
  | sent by your browser or e-mail client as part of a request, such as 
  | cookies or your IP address.

h2 Information Sharing and Disclosure

h3 Your Consent
p
  | We may share or disclose your information with your consent, such as 
  | when you use a third party client to access your account.
  
h3 Service Providers
p
  | We engage certain trusted third parties to perform functions and 
  | provide services to us. We may share your personal information with 
  | these third parties, but only to the extent necessary to perform 
  | these functions and provide such services, and only pursuant to
  | obligations mirroring the protections of this privacy policy.
h3 Law and Harm
p
  | We may disclose your information if we believe that it is reasonably 
  | necessary to comply with a law, regulation or legal request; to 
  | protect the safety of any person; to address fraud, security or 
  | technical issues; or to protect EvoGames' rights or property.

h3 Non-Private or Non-Personal Information
p
  | We may share or disclose your non-private, aggregated or otherwise 
  | non-personal information, such as your public event statistics.

h2 Modifying Your Personal Information
p
  | If you are a registered user of our Services, we provide you with 
  | tools to access or modify the personal information you provided to 
  | us and associated with your account.
  
h2 Our Policy Towards Children
p
  | Our Services are not directed to people under 13. If you become 
  | aware that your child has provided us with personal information 
  | without your consent, please contact us at 
  a(href="mailto:privacy@evogames.org") privacy@evogames.org
  | . We do not knowingly collect personal information from children 
  | under 13. If we become aware that a child under 13 has provided us 
  | with personal information, we take steps to remove such information 
  | and terminate the child's account.

h2 Changes to this Policy
p
  | We may revise this Privacy Policy from time to time. The most 
  | current version of the policy will govern our use of your 
  | information and will always be at 
  a(href="http://www.evogames.org/privacy") http://www.evogames.org/privacy
  | . If we make a change to this policy that, in our sole discretion, 
  | is material, we will notify you via an e-mail to the email 
  | associated with your account. By continuing to access or use the 
  | Services after those changes become effective, you agree to be bound 
  | by the revised Privacy Policy.
