h1 Sitemap

ul.grid
  li
    a(href="/") Home
    ul
      li
        a(href="/news") News
      li
        a(href="/game") Games Directory
      li
        a(href="/player") Players
      li
        a(href="/group") Groups Directory
      li
        a(href="/tos") Terms of Service
      li
        a(href="/contact") Contact
      li
        a(href="/about") About
      li
        a(href="/privacy") Privacy Policy

  li
    a(href="/news") News
    ul
      li
        a(href="/tag") Tag Cloud

  li
    a(href="/group") Groups
    ul
      li
        a(href="/group/create") Create a Group

  li
    a(href="/player") Players
    ul
      li
        a(href="/player/register") Register
      li
        a(href="/player/search") Player Search
      li
        a(href="/player/controls") Control Panel
      li
        a(href="/player/lostpass") Lost Password