- var crumbs = [{href: "/", text: "Home"}, {href: "/tos", text: "Terms of Service"}];
#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1 Terms of Service
p
  | Coming soon...
