h1 Terms of Service
p
  | PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS SITE. IF 
  | YOU DO NOT AGREE TO ALL OF THE TERMS CONTAINED HEREIN, PLEASE DO NOT 
  | USE THE SITE.

h2 Acceptance of Terms of Use
p
  | EvoGames is provided free of charge under these Terms of Use. 
  | Although EvoGames may be viewed by visiting the Site, in order to 
  | participate in our events, ladders, or tournaments, you will be 
  | required to register appropriately. These Terms of Use will govern 
  | your use of EvoGames. By using EvoGames, YOU ARE INDICATING YOUR 
  | AGREEMENT TO BE BOUND BY THESE TERMS OF USE. These Terms of Use 
  | govern your use of EvoGames and all services provided in connection 
  | with EvoGames. If you do not agree to these Terms of Use, you may 
  | not enter or use EvoGames.

h2 Registration Information
p
  | When you register with EvoGames, you will be required to provide the 
  | following information: Your email address, handle, alias, and 
  | password. In addition, you may be asked to provide EvoGames with 
  | OPTIONAL additional information, as outlined in the 
  a(href="/privacy") Privacy Policy
  | .

h2 Termination
p
  | EvoGames reserves the right, at its sole discretion, to immediately, 
  | without notice, suspend or terminate your ability to access EvoGames 
  | and/or any other service provided to you by EvoGames upon any breach 
  | by you of the Terms of Use. EVOGAMES RESERVES THE RIGHT MODIFY THE 
  | TERMS OF USE AT ANY TIME WITH OUT NOTIFICATION.
p
  | Suspension or Termination of your account may occur for any reason 
  | including, but not limited to:
ul
  li Ownership of more than one account
  li Unauthorized use of restricted areas
  li Cheating, in any form
  li Blatant disregard for rules of events.

h2 Third Party Services
p
  | EvoGames may contain links to other related web sites, resources 
  | and/or sponsors. WHEN YOU ACCESS ANY OF THESE SITES, YOUR RIGHTS AND 
  | OBLIGATIONS WILL BE GOVERNED BY THE AGREEMENTS AND POLICIES RELATING 
  | TO THE USE OF THESE SITES.

h2 Registration and Passwords
p
  | You are responsible for maintaining the confidentiality of your 
  | personal information and password. You shall be responsible for all 
  | uses of your registration, whether or not authorized by you. You 
  | agree to immediately notify EvoGames of any unauthorized use of your 
  | registration or password. 

h2 Indemnification
p
  | You agree to indemnify and hold each of EvoGames and its affiliates, 
  | harmless from any claim or demand, including reasonable attorneys' 
  | fees, made by any third party due to or arising out of your use of 
  | EvoGames, the violation of these Terms of Use by you, or the 
  | infringement by you, or any other subscriber of your account, of any 
  | intellectual property or other right of any person or entity.
p 
  | All original content and graphics on this site are protected by U.S. 
  | copyright and international treaties and may not be copied without 
  | the express written consent of its publisher. The materials 
  | contained within may not be modified or redistributed, in whole or 
  | in part, without written permission from EvoGames. This applies to 
  | but is not limited to site design, HTML code, content and graphics. 
  | Copyright © 2010 Gregory McWhirter. All rights reserved.

h2 Game Copyrights
p
  | All game trademarks, logos, and images are the property of their 
  | respective owners. 
