/* Font size chart:
 * Pixels	Percent
 * -----------------
 * 10		77
 * 11		85
 * 12		93
 * 13		100
 * 14		108
 * 15		116
 * 16		123.1
 * 17		131
 * 18		138.5
 * 19		146.5
 * 20		153.9
 * 21		161.6
 * 22		167
 * 23		174
 * 24		182
 * 25		189
 * 26		197
 */

*
{
    border: none;
}

html,
body
{
    width: 100%;
    height: 100%;
    background-color: #204;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #000;
    text-align: center;
}

div
{
    overflow: auto;
    text-align: left;
}

p,ul,ol
{
    margin: 1.5em 0;
}

a {
    color: #60c;
}

a:hover {
    color: #309;
}

a:visited {
    color: #60c;
}

h1 {
    color: #40a;
    font-size: 138.5%;
    font-weight: bold;
    padding-top: 12px;
}
h2 {
    color: #60c;
    font-size: 123.1%;
    font-weight: bold;
    padding-top: 10px;
}
h3 {
    color: #204;
    font-size: 108%;
    font-weight: bold;
    padding-top: 6px;
}

ul,
ul>li,
ol,
ol>li
{
    list-style-position: outside;
}

ul,
ol
{
    margin-left: 20px;
}

ul.bullets,
ul.bullets>li
{
    list-style-type: circle;
}

ul.bullets ul.bullets,
ul.bullets ul.bullets>li
{
    list-style-type: square;
}

ul.bullets ul.bullets ul.bullets,
ul.bullets ul.bullets ul.bullets>li
{
    list-style-type: disc;
}

ol,
ol>li,
ol.decimal,
ol.decimal>li
{
    list-style-type: decimal;
}

ol ol,
ol ol>li,
ol.Alpha,
ol.Alpha>li
{
    list-style-type: upper-alpha;
}

ol ol ol,
ol ol ol>li,
ol.roman,
ol.roman>li
{
    list-style-type: lower-roman;
}

ol ol ol ol,
ol ol ol ol>li,
ol.alpha,
ol.alpha>li
{
    list-style-type: lower-alpha;
}

fieldset
{
    display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
}

fieldset.font-size
{
    font-size: 108%;
}

fieldset label
{
    font-weight: bold;
}

input[type=text],
input[type=password],
select,
textarea,
button
{
    padding: 2px 5px;
    border: 1px solid #aaa;
}

textarea
{
    height: 20em;
}

#everything
{
    text-align: left;
    width: 1000px;
    margin: 0 auto;
    padding: 0 5px;
    background-color: #ddd;
}

#header
{
    margin: 5px 0;
    background-image: url('/images/djo_header.jpg');
    border: 1px solid #60c;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    position: relative;
}

#header>a.header
{
    display: block;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    background: transparent;
    text-decoration: none;
    border: none;
}

#status
{
    position: absolute;
    top: 0;
    right: 20px;
    width: 200px;
    max-width: 300px;
    min-width: 200px;
    min-height: 40px;
    background-color: #bbb;
    border: 1px solid #60c;
    border-top: none;
    text-align: center;
    padding: 5px 10px;
}

#status-avatar
{
    float: left;
    margin-right: 3px;
}

#status-selector,
#club-selector
{
    width: 90%;
}

#content-1,
#content-2
{
    width: 1000px;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#content-1
{ }

#content-2
{ }

#leftmenu
{
    margin-right: 5px;
    width: 200px;
    float: left;
}

#leftmenu.topmenu
{
    margin: 0;
    width: 100%;
    float: none;
    overflow: visible;
    clear: both;
}

div.menu-outer
{
    background-color: #60c;
    margin-bottom: 5px;
    padding: 2px;
    border: 1px solid #000;
}

div.menu-outer.topmenu
{
    float: left;
    z-index: 597;
    position: relative;
    overflow: visible;
}

div.menu-header
{
    background-color: #204;
    color: #fff;
    border: 1px solid #000;
    padding: 2px 5px;
    font-weight: bold;
}

div.menu-header.topmenu
{
    z-index: 598;
}

div.menu-outer.expand div.menu-header.topmenu
{
    background-color: #306;
}

div.menu-header .icon
{
    float: right;
    cursor: pointer;
}

ul.menu-inner
{
    background-color: #eee;
    margin: 0;
}

ul.menu-inner.topmenu
{
    z-index: 598;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    width: auto;
    white-space: nowrap;
    margin-top: 1px;
}

ul.menu-inner>li
{
    display: block;
    padding: 2px 5px;
    border: 1px solid #204;
    border-top: none;
}

ul.menu-inner>li a,
ul.menu-inner>li a:hover
{
    text-decoration: none;
    /*font-weight: bold;*/
}

ul.menu-inner.topmenu>li
{
    z-index: 599;
}

ul.menu-inner>li:hover
{
    background-color: #fff;
}

#body
{
    /*width: 635px;*/
    width: 795px;
    float: left;
}

#body.body-ssl,
#body.topmenu
{
	/*width: 840px;*/
    width: 1000px;
    margin-bottom: 10px;
}*/

div.module
{
    background-color: #fff;
    padding: 2px;
    /*margin: 0 5px;*/
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid #000;
    background-color: #60c;
}

/*#body.body-ssl div.module,
#body.topmenu div.module
{
    margin: 0;
    margin-bottom: 10px;
}*/

div.module-header
{
    background-color: #204;
    color: #fff;
    border: 1px solid #000;
    font-weight: bold;
    padding: 2px 5px;
}

div.module-content,
body.tinymce
{
    background-color: #fff;
    border: 1px solid #000;
    padding: 2px 5px;
    text-align: left;
}

body.tinymce
{
    border: none;
    width: auto;
}

#rightmenu
{
	display: none;
    width: 150px;
    margin-left: 5px;
    float: right;
    padding: 10px 0;
    text-align: center;
    font-size: 77%;
    background-color: #fff;
    border: 1px solid #60c;
}

#footer
{
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #60c;
    font-size: 77%;
    padding: 2px 5px;
    clear: both;
}

#footer-center
{
    text-align: center;
}

#footer-left
{
    float: left;
    text-align: left;
    max-width: 400px;
    width: 300px;
}

#footer-right
{
    float: right;
    text-align: right;
    max-width: 400px;
    width: 300px;
}

#subfooter
{
    font-size: 85%;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    text-align: left;
}

#branding
{
    float: right;
    text-align: right;
    width: 40%;
}

#debug
{
    text-align: left;
    font-size: 85%;
    background-color: #600;
    color: #ccc;
    width: 1000px;
    margin: 0 auto;
    padding: 0 5px;
}

#debug-header
{
    font-weight: bold;
    border-bottom: 1px solid #888;
    padding: 2px 5px;
}

#debug-expander
{
    float: right;
    cursor: pointer;
}

#debug-content
{
    overflow: scroll;
    display: none;
    padding: 5px;
}

.center
{
    text-align: center;
}

.bold
{
    font-weight: bold;
}

.sysop
{
    font-weight: bold;
    font-variant: small-caps;
    color: #f00;
}

.staff
{
    font-weight: bold;
    font-variant: small-caps;
    color: #0f0;
}

.marquee-vert,
.marquee-horiz
{
    /* required settings */
    position:relative;
    overflow:hidden;
    width: 660px;
    height:90px;
}
.marquee-vert .items
{
    height:20000em;
    position:absolute;
}
.marquee-horiz .items
{
    width:20000em;
    position:absolute;
}

/* simple css-based tooltip */
.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
    z-index: 700;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

.status-field-ok,
.status-field-not-ok,
.status-field-maybe
{
    display: block;
    width: 30px;
    height: 22px;
    float: right;
    background-position: center;
    background-repeat: no-repeat;
}

.status-field-ok
{
    background-image: url('/images/signup_ok.png');
}

.status-field-not-ok
{
    background-image: url('/images/signup_notok.png');
}

.status-field-maybe
{
    background-image: url('/images/signup_maybe.png');
}

table.form
{
    border-collapse: separate;
    border-spacing: 3px;
}

.form
{
    width: 100%;
    border: none;
}

.form td
{
    padding: 2px 5px;
    border: none;
    vertical-align: top;
    overflow: auto;
    min-height: 22px;
}

.form td.label
{
    text-align: right;
    border-right: 1px solid #aaa;
    background-color: #ddd;
    font-weight: bold;
}

.form td.field
{
    text-align: left;
}

.form td.action
{
    text-align: center;
}

.form div.field-data
{
    position: relative;
}

.form div.field-text
{
    width: 50%;
    padding: 3px 5px;
}

.form ul.field-error,
.form ul.field-error>li,
ul.form-error,
ul.form-error>li
{
    color: #f00;
}

.form ul.field-error
{
    margin: 0;
    margin-bottom: 2px;
}

ul.form-error
{
    margin-bottom: 2px;
    padding: 10px;
    border: 2px solid #800;
    background-color: #ddd;
    display: block;
    font-weight: bold;
}

.form.form-two-column td.label
{
    width: 30%;
}

.form.form-two-column input[type=text],
.form.form-two-column input[type=password],
.form.form-two-column select,
.form.form-two-column textarea
{
    width: 50%;
}

.form.form-two-column .status-field-ok,
.form.form-two-column .status-field-not-ok,
.form.form-two-column .status-field-maybe
{
    float: none;
    position: absolute;
    left: 55%;
}

.page-header,
.page-footer
{
    font-size: 77%;
    padding: 2px 5px;
}

.page-header
{
    border-bottom: 1px solid #ccc;
}

.page-footer
{
    border-top: 1px solid #ccc;
}

.page-action-link
{
    float: right;
    padding: 0 10px;
}

fieldset.no-table .big-input
{
    font-size: 182%;
}

fieldset.no-table input[type=text],
fieldset.no-table textarea,
fieldset.no-table select
{
    width: 90%;
}

#admin-links
{
    overflow: auto;
}


#admin-links>li
{
    float: left;
    width: 49%;
    display: block;
    margin-bottom: 10px;
}

#page-list>li
{
    display: block;
    width: 95%;
    overflow: auto;
}

#page-list>li>.actions
{
    float: right;
    width: 50%;
    font-size: 77%;
}

input.question-text { font-size: 182%; }
input.option-text { width: 40% !important; }
select.select-correct { width: auto !important; }

.undo-question,
.undo-answer
{
    background-color: #f0e68c;
    font-size: 77%;
    padding: 5px 10px;
}

.undo-link
{
    font-weight: bold;
    margin: 0 10px;
}

.undo-clear-link
{
    float: right;
    font-weight: bold;
}

/* From jquery-ui */
.ui-icon { width: 16px; height: 16px; background-image: url(/images/jquery-ui/ui-icons_cccccc_256x240.png); }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }
