/* Font size chart:
 * Pixels	Percent
 * -----------------
 * 10		77
 * 11		85
 * 12		93
 * 13		100
 * 14		108
 * 15		116
 * 16		123.1
 * 17		131
 * 18		138.5
 * 19		146.5
 * 20		153.9
 * 21		161.6
 * 22		167
 * 23		174
 * 24		182
 * 25		189
 * 26		197
 */

@link_color: #a75416;
@background: #a60;
@background2: #530;
@lightbase: #fff;
@lightbase2: #eee;
@lightborder: #ccc;
@medborder: #888;
@medbase: #aaa;

html, body {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

html{
    background-color: @background2;
}

body{
    margin-top: -15px;
    height: 100%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    padding: 10px 0;

    background: -moz-linear-gradient(top, @background, @background2);
    background: -webkit-gradient(linear, 0 0, 0 90%, from(@background), to(@background2));

    background-color: @background2;
  
}

span.link-sep{
    margin: 0 5px;
}

p, ul, ol
{
    margin-bottom: 1.5em;
}

ul,
ul>li,
ol,
ol>li
{
    list-style-position: outside;
}

ul.bullets,
ul.bullets>li
{
    list-style-type: circle;
}

ul.bullets ul.bullets,
ul.bullets ul.bullets>li
{
    list-style-type: square;
}

ul.bullets ul.bullets ul.bullets,
ul.bullets ul.bullets ul.bullets>li
{
    list-style-type: disc;
}

ol,
ol>li,
ol.decimal,
ol.decimal>li
{
    list-style-type: decimal;
}

ol ol,
ol ol>li,
ol.Alpha,
ol.Alpha>li
{
    list-style-type: upper-alpha;
}

ol ol ol,
ol ol ol>li,
ol.roman,
ol.roman>li
{
    list-style-type: lower-roman;
}

ol ol ol ol,
ol ol ol ol>li,
ol.alpha,
ol.alpha>li
{
    list-style-type: lower-alpha;
}

strong,
.bold
{
    font-weight: bold;
}

.center
{
    text-align: center;
}

.small {
    font-size: 85%;
}

.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display: none;
    color:#fff;
    text-align: left;
    font-size:12px;
    z-index: 700;

    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
}

.modal {
    background-color:#fff;
    display: none;
    width:350px;
    padding:15px;
    text-align: left;
    border:2px solid #333;

    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}

.ui-icon { width: 16px; height: 16px; background-image: url(../images/jquery-ui/ui-icons_cccccc_256x240.png); }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }

.menu-outer{	
    .menu-header{
        font-weight: bold;
        
        .clickable{
            cursor: pointer;
        }
        
        .icon{
            display: block;
            float: left;
            margin-top: 4px;
        }
    }
    
    ul.menu-inner>li{
        width: auto;

        .menu-bullet{
            margin-right: 5px;
        }
        .menu-item{
            padding-right: 10px;
        }
    }
    
}

#container {
    margin: 0 auto;
    text-align: left;
    background-color: transparent !important;
    
    a, a:link, a:active {
        color: @link_color;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover {
        color: @link_color * 1.5;
        text-decoration: underline;
    }
}

#header {
    a, a:link, a:active, a:hover {
        color: #000;
        text-decoration: none;
    }
    
    h1 {
        font-family: 'FontinSansSmallCaps', sans-serif;
        text-shadow: #000 1px 1px 5px;
        font-size: 74px;
        line-height: 1em;
        color: #aaa;
        padding: 0;
        margin: 15px 0 5px;
    }
    
    .tagline {
        font-family: 'RalewayThin', sans-serif;
        color: #ccc;
        text-shadow: #000 1px 1px 3px;
        margin: 5px 0 20px;
        font-weight: bold;
        font-size: 197%;
        line-height: 1em;
        padding: 0;
    }
}

#container2 {
    overflow: auto;
    padding: 10px 0;
    margin-bottom: 20px;
    
    -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    background: -moz-linear-gradient(top, @lightbase, @lightbase2);
    background: -webkit-gradient(linear, 0 0, 0 90%, from(@lightbase), to(@lightbase2));
    
    background-color: @lightbase;
    
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#main {
    font-size: 108%;
    line-height: 1.3em;
    margin-top: 1em;
    
    h1, h2, h3, h4, h5 {
        font-family: 'FontinSansSmallCaps', sans-serif;
        margin-bottom: .5em;
    }
    h1 {
        color: #222;
        font-size: 182%;
    }
    
    h2 {
        padding-bottom: 5px;
        line-height: 1em;
        color: #444;
        font-size: 167%;
    }
    h3 {
        color: #666;
        font-size: 153.9%;
    }

    #player-profile,
    #group-profile {
        img.avatar,
        img.logo {
            display: block;
            float: right;
            margin-left: 1em;
            margin-bottom: 1em;

            max-width: 160px;
            max-height: 160px;
        }
    }
    
    ul.grid
    {
        display: block;
        overflow: auto;
        padding: 0;

        li {
            display: block;
            margin: 5px 10px;
            padding: 3px 0;
            float: left;
            width: 45%;
            border-top: 1px solid #222;
            border-bottom: 1px dotted #666;
        }
    }

    ul.grid3
    {
        display: block;
        overflow: auto;
        padding: 0;

        li {
            display: block;
            margin: 5px 10px;
            padding: 3px 0;
            float: left;
            width: 28%;
            border-bottom: 1px dotted #666;
        }
    }

    ul.profile {
        display: block;
        margin: 0;
        padding: 0;
        margin-bottom: 1.5em;

        li {
            display: block;
            margin: 2px 5px;
            padding: 3px 0;

            span.label {
                font-weight: bold;
            }
        }
    }
    
    ul.recent-articles,
    ul.recent-members,
    ul.recent-groups,
    ul.current-events,
    ul.current-tournaments,
    ul.current-ladders
    {
        margin: 0;
        padding: 0;
        
        .date { float: right; }
    }

    ul.fp-block
    {
        margin-bottom: 1.5em;
    }

    ul.member-groups,
    ul.owned-groups,
    ul.invited-groups,
    ul.group-members-list,
    ul.group-directory {
        .action {
            float: right;
            margin-left: 1em;
            font-size: 85%;
        }
    }

    ul.member-groups.admin,
    ul.owned-groups.admin,
    ul.invited-groups.admin,
    ul.group-members-list,
    ul.group-directory {
        li {
            border-top: 1px dotted #666;
            padding: 0.5em 0;
        }
    }

    ul.group-directory {
        display: none;
        padding: 0;

        li {
            padding: 0.5em 0;
        }
    }

    ul.search-results {
        /* Duplicating fieldset */
        display: block;
        background-color: @lightbase;
        border: 1px solid @medborder;
        padding: 1.4em;
        margin-bottom: 1.5em;

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;

        li {
            padding: 0.5em 0;
            border-top: 1px dotted #666;

            .source {
                float: right;
                font-size: 85%;
            }
        }
        
    }

    ul#directory-nav {
        display: block;
        overflow: auto;
        border-bottom: 1px solid #666;
        padding: 0;

        li {
            display: block;
            float: left;
            margin: 0 5px;
        }

        li.selected {
            background-color: #ccc;
            border: 1px solid #888;
        }
    }

    li.genre-link {
        font-weight: bold;
        border-top: 1px dotted #666;
        margin-bottom: 1em;

        .clickable{
            cursor: pointer;
        }

        .icon{
            display: block;
            float: left;
        }
    }

    #flash{
        .info, .error{
            padding: 5px 20px;
            margin-bottom: 5px;

            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;

            .x
            {
                float: right;
                font-weight: bold;
                cursor: pointer;

                opacity: 0.5;
            }
        }
    }
	
	
	
    #alias-add-form {
        display: none;
    }
	
    #alias-controls {
        overflow: auto;
        font-size: 85%;
        #refresh-link { float: right; }
    }
	
    #aliases {
        margin: 0;
        padding: 0;
        margin-top: 10px;
        .remove, .set-default { font-size: 85%; margin-left: 20px; float: right;}
        .default { margin-left: 20px; }
        li {margin: 5px 0; display: block; border: 1px dotted #666; padding: 2px 5px;}
    }
	
    #breadcrumbs {
        overflow: auto;
        font-size: 85%;
        border-bottom: 1px dotted #666;
        margin-bottom: 10px;

        .crumb, .crumb-sep {
            float: left;
        }
        .crumb-sep {
            margin: 0 5px;
        }
    }
	
    .date { font-size: 85%; color: #666; }
	
    .left-col, .right-col {
        width: 42%;
        margin: 5px 0px;
        padding: 3px 0;
        float: left;
    }
	
    .left-col { margin-right: 40px; }
	
    .article{
        overflow: auto;
        border-top: 1px solid #000;
        border-bottom: 1px dotted #666;
        margin-bottom: 10px;

        h1 {
            margin-bottom: 0.1em;
            a, a:link, a:active {
                font-weight: normal;
                color: #000;
            }
            a:hover {
                color: #444;
                font-weight: normal;
                text-decoration: none;
            }
        }

        h2 {
            margin-top: 0.1em;
        }

        .byline {
            font-size: 85%;

            .date { font-size: 100%; }
        }

        .editline {
            font-size: 85%;
            float: right;
        }

        .edits {
            color: #666;
            font-size: 77%;

            li {
                float: right;
                clear: right;
            }
        }

        .tagline {
            font-size: 85%;
            border-bottom: 1px dotted #aaa;
            padding-bottom: 3px;
            margin-bottom: 5px;
        }
    }
	
    .content-admin { float: right; font-size: 85%; }
	
    fieldset {
        background-color: @lightbase;
        border: 1px solid @medborder;

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;

        .form-line
        {
            overflow: auto;
            margin-bottom: .5em;
        }

        input[type=text],
        input[type=password],
        input[type=email],
        input[type=url],
        input[type=number],
        input[type=date],
        input[type=datetime],
        input[type=month],
        input[type=week],
        input[type=time],
        input[type=search],
        input[type=color],
        select,
        textarea
        {
            width: 75%;
            margin: 0.5em 0px;
            padding: 5px;
        }

        textarea
        {
            height: 20em;
        }

        button, a.button
        {
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
        }

        a.button {
            color: #565656;
        }

        a.button:hover {
            color: #369;
            text-decoration: none;
        }

        a.button.negative, a.button.negative:hover {
            color: #D12F19;
        }

        a.button.positive, a.button.positive:hover {
            color: #529214;
        }

        .field-status
        {
            display: inline-block;
            width: 30px;
            height: 26px;
            vertical-align: top;
            margin-top: 6px;
            margin-left: 1em;
            border: 1px solid #ccc;

            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;

            .status-field-ok,
            .status-field-not-ok,
            .status-field-maybe
            {
                display: inline-block;
                width: 30px;
                height: 26px;
                background-position: center;
                background-repeat: no-repeat;
            }

            .status-field-ok
            {
                background-image: url('../images/signup_ok.png');
            }

            .status-field-not-ok
            {
                background-image: url('../images/signup_notok.png');
            }

            .status-field-maybe
            {
                background-image: url('../images/signup_maybe.png');
            }
        }

        input.title + .field-status {
            margin-top: 13px;
        }

        ul.field-error
        {
            color: #f00;
            margin: 0;
            margin-bottom: 2px;
            li {
                color: #f00;
            }
        }
    }
	
    fieldset.narrow-fields {
        input[type=text],
        input[type=password],
        input[type=email],
        input[type=url],
        input[type=number],
        input[type=date],
        input[type=datetime],
        input[type=month],
        input[type=week],
        input[type=time],
        input[type=search],
        input[type=color],
        select,
        textarea
        {
            width: 50%;
        }
    }
    
    ul.form-error
    {
        color: #f00;
        margin-bottom: 2px;
        padding: 10px;
        border: 2px solid #800;
        background-color: #ddd;
        display: block;
        font-weight: bold;
        
        li {
            color: #f00;
        }
    }

    #new-ticket-form
    {
        display: none;
    }
	
}

#noscript {
    background-color: #f00 * 0.1;
    color: #f00;
    font-weight: bold;
    border: 2px solid red;
    margin-top: 10px;
    
    p {
        padding: 5px;
    }
}

#sidebar {
    
    font-family: sans-serif;
    font-size: 108%;
    line-height: 1.6em;
    
    h3 {
        font-family: 'FontinSansSmallCaps', sans-serif;
        font-size: 138.5%;
        font-weight: bold;
        line-height: 1em;
        border-bottom: 1px solid #aaa;
        margin-bottom: 0;
    }
    
    ul {
        padding: 0 0 0 20px;
        margin: 0;
    }
    
    #player-info
    {
        overflow: auto;
        
        img.avatar
        {
            float: left;
            margin-right: 10px;
            max-width: 64px;
            max-height: 64px;
        }
    }
    
    .sidebar-div
    {
        margin-top: 20px;
    }
}

#footer {
    margin-top: 1em;
    border-top: 1px solid #ccc;
    font-size: 85%;
}

.handle{
    font-size: 85%;
    color: #666;
}

.handle.only{
    font-size: 108%;
    font-weight: bold;
    color: #000;
}

.alias{
    font-size: 108%;
    font-weight: bold;
}

.position
{
    font-weight: bold;
    font-variant: small-caps;
}

.position.sysop
{
    color: #f00;
}

.position.staff
{
    color: #0f0;
}

@font-face {
    font-family: 'FontinSansSmallCaps';
    src: url('../fonts/fontin_sans_sc_45b-webfont.eot');
    src: local('☺'), url('../fonts/fontin_sans_sc_45b-webfont.woff') format('woff'), url('../fonts/fontin_sans_sc_45b-webfont.ttf') format('truetype'), url('../fonts/fontin_sans_sc_45b-webfont.svg#webfontFZcdVJKv') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayThin';
    src: url('../fonts/raleway_thin-webfont.eot');
    src: local('☺'), url('../fonts/raleway_thin-webfont.woff') format('woff'), url('../fonts/raleway_thin-webfont.ttf') format('truetype'), url('../fonts/raleway_thin-webfont.svg#webfontsVpRIgRb') format('svg');
    font-weight: normal;
    font-style: normal;
}
