/* Font size chart:
 * Pixels	Percent
 * -----------------
 * 10		77
 * 11		85
 * 12		93
 * 13		100
 * 14		108
 * 15		116
 * 16		123.1
 * 17		131
 * 18		138.5
 * 19		146.5
 * 20		153.9
 * 21		161.6
 * 22		167
 * 23		174
 * 24		182
 * 25		189
 * 26		197
 */
html, body {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
html {
  background-color: #000000;
}
body {
  margin-top: -15px;
  height: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: -moz-linear-gradient(top, #002244, #000000);
  background: -webkit-gradient(linear, 0 0, 0 90%, from(#002244), to(#000000));
  background-color: #000000;
  padding: 10px 0;
}
span.link-sep {
  margin: 0 5px;
}
p, ul, ol {
  margin-bottom: 1.5em;
}
ul,
ul > li,
ol,
ol > li {
  list-style-position: outside;
}
ul, ol {
  margin-left: 20px;
}
ul.bullets, ul.bullets > li {
  list-style-type: circle;
}
ul.bullets ul.bullets, ul.bullets ul.bullets > li {
  list-style-type: square;
}
ul.bullets ul.bullets ul.bullets, ul.bullets ul.bullets ul.bullets > li {
  list-style-type: disc;
}
ol,
ol > li,
ol.decimal,
ol.decimal > li {
  list-style-type: decimal;
}
ol ol,
ol ol > li,
ol.Alpha,
ol.Alpha > li {
  list-style-type: upper-alpha;
}
ol ol ol,
ol ol ol > li,
ol.roman,
ol.roman > li {
  list-style-type: lower-roman;
}
ol ol ol ol,
ol ol ol ol > li,
ol.alpha,
ol.alpha > li {
  list-style-type: lower-alpha;
}
fieldset {
  display: block;
  padding: 5px 10px;
  margin-bottom: 5px;
}
fieldset.font-size {
  font-size: 108%;
}
fieldset label {
  font-weight: bold;
}
input[type=text],
input[type=password],
select,
textarea,
button {
  padding: 2px 5px;
  border: 1px solid #aaa;
}
textarea {
  height: 20em;
}
strong, .bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
.marquee-vert, .marquee-horiz {
  /* required settings */

  position: relative;
  overflow: hidden;
  width: 660px;
  height: 90px;
}
.marquee-vert .items {
  height: 20000em;
  position: absolute;
}
.marquee-horiz .items {
  width: 20000em;
  position: absolute;
}
/* simple css-based tooltip */
.tooltip {
  background-color: #000;
  border: 1px solid #fff;
  padding: 10px 15px;
  width: 200px;
  display: none;
  color: #fff;
  text-align: left;
  font-size: 12px;
  z-index: 700;
  /* outline radius for mozilla/firefox only */

  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}
.menu-outer {
  /* From jquery-ui */

}
.menu-outer .ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(../images/jquery-ui/ui-icons_cccccc_256x240.png);
}
.menu-outer .ui-icon-triangle-1-n {
  background-position: 0 -16px;
}
.menu-outer .ui-icon-triangle-1-s {
  background-position: -64px -16px;
}
.menu-outer .menu-header {
  font-weight: bold;
}
.menu-outer .menu-header .clickable {
  cursor: pointer;
}
.menu-outer .menu-header .icon {
  display: block;
  float: left;
  margin-top: 4px;
}
.menu-outer ul.menu-inner > li {
  width: auto;
}
.menu-outer ul.menu-inner > li .menu-bullet {
  margin-right: 5px;
}
.menu-outer ul.menu-inner > li .menu-item {
  padding-right: 10px;
}
#container {
  max-width: 1200px;
  min-width: 500px;
  margin: 0 auto;
  text-align: left;
}
#container a, #container a:link, #container a:active {
  color: #a75416;
  font-weight: bold;
  text-decoration: none;
}
#container a:hover {
  color: #fb7e21;
  text-decoration: underline;
}
#header a,
#header a:link,
#header a:active,
#header a:hover {
  color: #000;
  text-decoration: none;
}
#header h1 {
  font-family: 'FontinSansSmallCaps', sans-serif;
  text-shadow: #000 1px 1px 5px;
  /*text-transform: lowercase;*/

  font-size: 74px;
  line-height: 1em;
  color: #aaa;
  padding: 0;
  margin: 15px 30px 5px;
}
#header .tagline {
  font-family: sans-serif;
  color: #ccc;
  text-shadow: #000 1px 1px 3px;
  margin: 5px 30px 20px;
  font-weight: bold;
  font-size: 197%;
  line-height: 1em;
  padding: 0;
}
#main, .aside, .bubble {
  -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
#main {
  background: -moz-linear-gradient(top, #ffffff, #dddddd);
  background: -webkit-gradient(linear, 0 0, 0 90%, from(#ffffff), to(#dddddd));
  background-color: #ffffff;
  padding: 10px 30px;
  /*min-height: 400px;*/

  min-width: 400px;
  margin-right: 350px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 108%;
  line-height: 1.3em;
}
#main h1,
#main h2,
#main h3,
#main h4,
#main h5 {
  font-family: 'FontinSansSmallCaps', sans-serif;
  margin: .5em 0;
}
#main h1 {
  color: #222;
  font-size: 182%;
}
#main h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  line-height: 1em;
  border-bottom: 2px dotted #aaa;
  color: #444;
  font-size: 167%;
}
#main h3 {
  color: #666;
  font-size: 153.9%;
}
#main #footer {
  background-color: #666666;
  font-size: 85%;
  line-height: 1em;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ccc;
  font-family: sans-serif;
  margin: 10px 0;
  padding: 3px 0;
  clear: both;
}
#main #footer a, #main #footer a:link, #main #footer a:active {
  color: #ffa82c;
  font-weight: bold;
  text-decoration: none;
}
#main #footer a:hover {
  color: #ffd237;
  text-decoration: underline;
}
#main #footer #footer-center {
  text-align: center;
}
#main #footer #footer-left {
  float: left;
  text-align: left;
  max-width: 200px;
  width: 200px;
}
#main #footer #footer-right {
  float: right;
  text-align: right;
  max-width: 200px;
  width: 200px;
}
#main #subfooter {
  font-size: 77%;
}
#main table.form {
  border-collapse: separate;
  border-spacing: 3px;
  width: 100%;
  border: none;
}
#main table.form td {
  padding: 2px 5px;
  border: none;
  vertical-align: top;
  overflow: auto;
  min-height: 22px;
}
#main table.form td.label {
  text-align: right;
  border-right: 1px solid #aaa;
  background-color: #ddd;
  font-weight: bold;
  width: 30%;
}
#main table.form td.field {
  text-align: left;
}
#main table.form td.action {
  text-align: center;
}
#main table.form div.field-data {
  position: relative;
}
#main table.form div.field-text {
  width: 50%;
  padding: 3px 5px;
  font-size: 85%;
}
#main table.form ul.field-error {
  color: #f00;
  margin: 0;
  margin-bottom: 2px;
}
#main table.form ul.field-error li {
  color: #f00;
}
#main table.form input[type=text],
#main table.form input[type=password],
#main table.form select,
#main table.form textarea {
  width: 50%;
}
#main table.form .status-field-ok, #main table.form .status-field-maybe, #main table.form .status-field-not-ok {
  float: none;
  position: absolute;
  left: 55%;
}
#main ul.form-error {
  color: #f00;
  margin-bottom: 2px;
  padding: 10px;
  border: 2px solid #800;
  background-color: #ddd;
  display: block;
  font-weight: bold;
}
#main ul.form-error li {
  color: #f00;
}
#main #flash .ui-icon {
  float: left;
  margin-right: .3em;
  margin-top: 1px;
}
#main #flash .ui-state-error .ui-icon.alt {
  background-image: url(../images/jquery-ui/ui-icons_cd0a0a_256x240.png);
}
#main #flash .info, #main #flash .error {
  padding: 2px 20px;
  margin-bottom: 3px;
}
#main #flash p {
  margin: 0;
}
#sidebar {
  float: right;
  width: 350px;
  font-family: sans-serif;
  font-size: 108%;
  line-height: 1.6em;
}
#sidebar h3 {
  font-family: 'FontinSansSmallCaps', sans-serif;
  font-size: 138.5%;
  font-weight: bold;
  line-height: 1em;
  border-bottom: 1px solid #aaa;
}
#sidebar ul {
  padding: 0 0 0 20px;
  margin: 0;
}
#sidebar .aside {
  margin-bottom: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: -moz-linear-gradient(top, #ffffff, #dddddd);
  background: -webkit-gradient(linear, 0 0, 0 90%, from(#ffffff), to(#dddddd));
  background-color: #ffffff;
  color: #fff;
  padding: 10px 10px 10px 20px;
}
#sidebar .aside h3 {
  background-color: rgba(255, 255, 255, 0.4);
  background-color: #a3a2a1;
  /*Only for IE*/

  text-shadow: #fff 1px 1px 3px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  color: #000;
  margin: -9px -9px 10px -21px;
  padding: 9px 10px 8px 20px;
}
#sidebar .aside a, #sidebar .aside a:link, #sidebar .aside a:active {
  color: #ffa82c;
  font-weight: bold;
  text-decoration: none;
}
#sidebar .aside a:hover {
  color: #ffd237;
  text-decoration: underline;
}
#sidebar .aside .inner {
  background: -moz-linear-gradient(top, #666666, #444444);
  background: -webkit-gradient(linear, 0 0, 0 90%, from(#666666), to(#444444));
  background-color: #666666;
  margin: -10px -9px -9px -21px;
  padding: 10px 10px 10px 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
  overflow: auto;
}
#sidebar .bubble {
  margin: 20px 0 0 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  background: -moz-linear-gradient(top, #ffffff, #dddddd);
  background: -webkit-gradient(linear, 0 0, 0 90%, from(#ffffff), to(#dddddd));
  background-color: #ffffff;
}
#sidebar .bubble h3 {
  text-shadow: #000 1px 1px 3px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  background-color: #939392;
  /*Only for IE*/

  color: #eef;
  margin: -9px -9px 10px -9px;
  padding: 9px 10px 8px 10px;
  border-bottom: 1px solid #aaa;
}
.status-field-ok, .status-field-not-ok, .status-field-maybe {
  display: block;
  width: 30px;
  height: 22px;
  float: right;
  background-position: center;
  background-repeat: no-repeat;
}
.status-field-ok {
  background-image: url('../images/signup_ok.png');
}
.status-field-not-ok {
  background-image: url('../images/signup_notok.png');
}
.status-field-maybe {
  background-image: url('../images/signup_maybe.png');
}
#status-avatar {
  float: left;
  margin-right: 10px;
}
img.avatar {
  max-width: 64px;
  max-height: 64px;
}
.handle {
  font-size: 85%;
  color: #666;
}
.handle.only {
  font-size: 108%;
  font-weight: bold;
  color: #000;
}
#sidebar .handle.only {
  color: #fff;
}
.alias {
  font-size: 108%;
  font-weight: bold;
}
.position {
  font-weight: bold;
  font-variant: small-caps;
}
.position.sysop {
  color: #f00;
}
.position.staff {
  color: #0f0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
@font-face {
  font-family: 'FontinSansSmallCaps';
  src: url('../fonts/fontin_sans_sc_45b-webfont.eot');
  src: local('☺'), url('../fonts/fontin_sans_sc_45b-webfont.woff') format('woff'), url('../fonts/fontin_sans_sc_45b-webfont.ttf') format('truetype'), url('../fonts/fontin_sans_sc_45b-webfont.svg#webfontFZcdVJKv') format('svg');
  font-weight: normal;
  font-style: normal;
}
