#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1= "Manage "+group.name

ul.grid
  li
    a(href="/group/"+group.code+"/controls/edit") Group Information
    br
    | Edit the group name, description, website, etc.
  li
    a(href="/group/"+group.code+"/controls/requests") Membership Requests
    br
    | Approve or deny membership requests.
  li
    a(href="/group/"+group.code+"/controls/members") Current Members
    br
    | Edit group member status.
  li
    a(href="/group/"+group.code+"/controls/invites") Invitations
    br
    | Invite new members to your group.
  - if (is_owner)
    li
      a(href="/group/"+group.code+"/controls/owners") Owners
      br
      | Add new owners or resign your ownership.

ul.grid
  li
    a(href="/group/"+group.code+"/profile") View Profile
    br
    | View the group profile.