#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})
  
h1 Create Group
form(method="post", accept-charset="utf-8")
  fieldset
    .form-line
      label(for="name") Group Name
      br
      input#name.title(type="text", name="name", value=data.name)
    .form-line
      label(for="code") Group Code
      br
      input#code.text(type="text", name="code", value=data.code)
      span.field-status
        span &nbsp;
    .form-line
      label(for="description") Description  
      br
      textarea#description(name="description")= date.description || ""
    .form-line
      button.button.positive(type="submit")
        img(src="/css/icons/tick.png",alt="")
        | &#32;Create Group

script(type="text/javascript",src="/js/validators/groupcode.js")
