#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1 Group Services

ul.grid
  li
    a(href="/group/directory") Group Directory
    br
    | View the directory of all groups.
  - if (player)
    li
      a(href="/group/create") Create a Group
      br
      | Register a new group