h1 Groups Directory
  
div
  input#search.search(type="search", placeholder="Search")
  - if (player)
    ul.grid3(style="margin-bottom: 1em;")
      li
        a(href="/group/create") Create a Group

ul#directory-nav
  - each letter in letters
    li(id="nav-"+letter)
      a.small(href="#!/"+letter)= letter[0].toUpperCase() + letter.slice(1)

#group-directory
  - groups.forEach(function (grouping, index){
    ul.group-directory(id="grouping-"+letters[index])
      - each group in grouping
        li
          a(href="/group/"+group.code)= group.name
          | &#32;
          span.code (#{group.code})
      li
  - })

script(type="text/javascript", src="/js/group_directory.js")