#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1= "Invitations to "+group.name
ul
  - each invite in invitations
    li(style="overflow: auto;")
      fieldset
        | You have been invited to join #{group.name}. Would you like to accept or decline?
        br
        a.button.positive(href="/group/join/"+group.code)
          img(src="/css/icons/tick.png", alt="")
          | &#32;Accept
        span.link-sep
        a.button.negative(href="/group/invite/"+group.code+"/decline")
          img(src="/css/icons/cross.png", alt="")
          | &#32;Decline