#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1= group.name+" Invitations"

ul.group-members-list
  - each invite in invites
    li
      span.handle.only= "@"+invite.handle
      a.action.withdraw(href="#") withdraw
  li
    a(href="#") Invite a new player...
