#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1= "Join "+group.name
form(method="post", accept-charset="utf-8")
  fieldset
    input(type="hidden", name="csrf", value=csrf)
    .form-line
      label(for="alias") Alias
      br
      select#alias.text(size="1", name="alias")
        - each alias in player.aliases
          option(value=alias)= alias+"@"+player.handle
    .form-line
      button.button.positive(type="submit")
        img(src="/css/icons/tick.png", alt="")
        | Join Group
      span.link-sep
      button.button.negative.cancel(type="button")
        img(src="/css/icons/cross.png", alt="")
        | Cancel

script(type="text/javascript")
    $("button.cancel").evently({
        click: function (){
            window.location = "/group/profile/#{group.code}";

            return false;
        }
    });