#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})
  
#group-profile
  h1= group.name

  h2 About
  != gdescription

  ul.profile
    li
      span.label Website:
      |
      span
        - if typeof(group.website) != "undefined" && group.website
          a(href=group.website)= group.website
        - else
          | not listed
    li
      span.label Created On:
      | 
      span= datetime(group.created_at)

    li
      span.label Members
      ul.profile
        li

  h2 Events
  ul.profile
    li

  h2 Tournaments
  ul.profile
    li

  h2 Ladders
  ul.profile
    li