p
  | EvoGames is a service designed to track participation in online 
  | gaming events, ladders, and tournaments, and to provide statistics 
  | and records for such events.
p
  | It is also a chance to play with some really cool and really 
  | powerful technologies. For more details, see the 
  a(href="/about") about
  |  page.
