#footer
  #footer-left= process.version 
  #footer-right &nbsp;
  #footer-center
    a(href="http://evogames.lighthouseapp.com/projects/60532-evogames/tickets/new", rel="blank") Report Bugs
    span.link-sep |
    a(href="#") Site Feedback
    
#subfooter
  strong #{system.name}:
  span.link-sep
  a(href="/") Home
  span.link-sep |
  a(href="#") Help
  span.link-sep |
  a(href="/contact") Contact Us
  span.link-sep |
  a(href="/about") About Us
  span.link-sep |
  a(href="#") Site Map
  span.link-sep |
  a(href="#") Volunteer
  span.link-sep |
  a(href="#") Management
  br
  strong Legal:
  span.link-sep 
  a(href="/tos") Terms of Service
  span.link-sep |
  a(href="/privacy") Privacy Policy
  span.link-sep |
  #{system.copyright}
