.menu-outer.expand
  .menu-header
    span.clickable
      span.icon
      | Main Menu
  ul.menu-inner
    li
      span.menu-bullet &raquo;
      span.menu-item(title="Home Page")
        a(href="/") Home
    li
      span.menu-bullet &raquo;
      span.menu-item(title="Read News Articles")
        a(href="/news") News
    li
      span.menu-bullet &raquo;
      span.menu-item(title="View the List of Games")
        a(href="/game") Games
    li
      span.menu-bullet &raquo;
      span.menu-item(title="View and Create Groups")
        a(href="/group") Groups
    li
      span.menu-bullet &raquo;
      span.menu-item(title="View and View Player Profiles")
        a(href="/player") Players
