ul
  li
    span.menu-bullet &raquo;
    span.menu-item(title="Home Page")
      a(href="/") Home
  li
    span.menu-bullet &raquo;
    span.menu-item(title="Read News Articles")
      a(href="/news") News
  li
    span.menu-bullet &raquo;
    span.menu-item(title="View the List of Games and Find Events")
      a(href="/game") Games
  li
    span.menu-bullet &raquo;
    span.menu-item(title="View and Create Groups")
      a(href="/group") Groups
  li
    span.menu-bullet &raquo;
    span.menu-item(title="Find and View Player Profiles")
      a(href="/player") Players
