.menu-outer.expand
  .menu-header
    span.clickable
      span.icon
      | News
  ul.menu-inner
    li
      span.menu-bullet &raquo;
      span.menu-item(title="Read Recent News Articles")
        a(href="/news") Recent News
    li
      span.menu-bullet &raquo;
      span.menu-item(title="View News Tags")
        a(href="/news/tag") Tag Cloud
    - if (player.is_sysop || (player.permissions || []).indexOf("post news") > -1)
      li
        span.menu-bullet &raquo;
        span.menu-item(title="Write New Articles")
          a(href="/news/post") New Article
      li
        span.menu-bullet &raquo;
        span.menu-item(title="View Draft Articles")
          a(href="/news/drafts") Article Drafts
