[submodule "lib/smtp"]
	path = lib/smtp
	url = git://github.com/gsmcwhirter/node-smtp-client.git
[submodule "media/js/mathjax"]
	path = media/js/mathjax
	url = git://github.com/mathjax/MathJax.git
[submodule "media/js/socket.io"]
	path = media/js/socket.io
	url = git://github.com/LearnBoost/Socket.IO.git
