- if (player)
  img.avatar(alt="Player Avatar", src=avatar(player))
  span
    span.handle.only @#{player.handle}
  - if (player.is_sysop)
    span.link-sep
    span.position.sysop SysOp
  - else if (player.is_staff)
    span.link-sep
    span.position.staff Staff
  br
  a(href="/player/controls") Controls
  span.link-sep |
  a(href="/logout") Log Out
  br
  a(href="/messages") Messages
  &nbsp;
  span.new-messages
- else
  img.avatar(alt="Player Avatar", src=system.default_avatar)
  span Welcome, Guest!
  br
  a(href="/login") Log In
  span.link-sep |
  a(href="/player/register") Register
