h1 Error 500: Internal System Error
p
  - if (_error.message)
    != _error.message
  - else
    | An error has occurred trying to process your request:

pre= _error.stack || _error || "An unknown error occurred."
