h1 Messages

#messages
  ul#directory-nav
    li#nav-inbox
      a.small(href="#!/inbox") Inbox
    li#nav-drafts
      a.small(href="#!/drafts") Drafts
    li#nav-outbox
      a.small(href="#!/outbox") Outbox
    li#nav-compose
      a.small(href="#!/compose") Compose

  #boxheader
  #inbox.pane
    h4 Inbox
    table
      thead
        tr
          th(style="width: 5%; text-align: center;")
          th Subject
          th From
          th Date
          th(style="width: 5%; text-align: center;")
            input(type="checkbox", name="check_all")
        tr
          td(colspan="5", style="border-bottom: 1px solid #aaa;")
            a.nextpage(href="") next page &raquo;
            a.prevpage(href="") &laquo; prev page
      tbody
      tfoot
        tr
          td(colspan="5")
            a.nextpage(href="") next page &raquo;
            a.prevpage(href="") &laquo; prev page
  #drafts.pane
    h4 Drafts
    table
      thead
        tr
          th(style="width: 5%; text-align: center;")
          th Subject
          th To
          th Date
          th(style="width: 5%; text-align: center;")
            input(type="checkbox", name="check_all")
        tr
          td(colspan="5", style="border-bottom: 1px solid #aaa;")
            a.nextpage(href="") next page &raquo;
            a.prevpage(href="") &laquo; prev page
      tbody
      tfoot
        tr
          td(colspan="5")
            a.nextpage(href="") next page &raquo;
            a.prevpage(href="") &laquo; prev page

  #outbox.pane
    h4 Outbox
    table
      thead
        tr
          th(style="width: 5%; text-align: center;")
          th Subject
          th To
          th Date
          th(style="width: 5%; text-align: center;")
            input(type="checkbox", name="check_all")
        tr
          td(colspan="5", style="border-bottom: 1px solid #aaa;")
            a.nextpage(href="") next page &raquo;
            a.prevpage(href="") &laquo; prev page
      tbody
      tfoot
        tr
          td(colspan="5")
            a.nextpage(href="") next page &raquo;
            a.prevpage(href="") &laquo; prev page

  #compose.pane
    h4 Compose

  #view.pane

script(type="text/javascript", src="/js/messages.js")