!= partial('header', {game: game, editable: editable})

h2 Game Types

ul
  != partial('gametype', {collection: game.gametypes, as: 'gametype'})

script(type="text/javascript", src="/js/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML")