h1= game.name

- if (editable)
  ul.grid
    li
      a(href="/game/"+game.code+"/edit") Edit Game Information
    li
      a(href="/game/"+game.code+"/gametypes") Edit Game Types

ul.grid3
  li
    a(href="/game/"+game.code+"/event") Events
  li
    a(href="/game/"+game.code+"/tournament") Tournaments
  li
    a(href="/game/"+game.code+"/ladder") Ladders

h2 Description
!= game.description