#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1= (typeof list_name == "undefined") ? "Issue List" : list_name

#new-ticket-form
  != partial('issues/addform')
  
a#new-ticket-link(href="#") Create Issue
script(type="text/javascript", src="/js/ticket_addform.js")

ul.tickets#nonclosed
  != partial('issues/ticket_short', {collection: tickets, as: 'ticket'})
