li.ticket
  = ticket.subject
  br
  | Filed on:&#32;
  = datetime(ticket.created_at)
  | &#32;by
  span.alias
    = ticket.owner_real.aliases[0]
  span.handle
    = "@"+ticket.owner_real.handle
  br
  | Status:
  = ticket.status.status
  br
  | Type:
  = ticket.ticket_type
  br
  | Tags:
  = ticket.tags.join(', ')
  br
  | Assigned to:
  - each atr in ticket.assigned_to_real
    span.alias
      = atr.aliases[0]
    span.handle
      = "@"+atr.handle
