ul.grid.menu
  li
    a(href="/news") Recent News
  li
    a(href="/news/tag") Tag Cloud
  - if (player.is_sysop || (player.permissions || []).indexOf("post news") > -1)
    li
      a(href="/news/post") New Article
    li
      a(href="/news/drafts") Draft List

h1= title