#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

!= partial('header', {title: title})

.article-list
  != partial('article', {collection: articles, as: 'article'})

- if (nextpage)
  .pagination
    a.next(href=self+"?nextpage="+nextpage+"&limit="+limit) older &raquo;
  
