#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

.content-admin
  a(href="/news/post") New Article
h1 #{title}
.article-list
  != partial('article', {collection: articles, as: 'article'})

- if (nextpage)
  .pagination
    a.next(href=self+"?nextpage="+nextpage+"&limit="+limit) older &raquo;
  
