!= partial('header', {title: title})

.article-list
  != partial('article', {collection: articles, as: 'article'})

- if (nextpage)
  .pagination
    a.next(href=self_url+"?nextpage="+nextpage+"&limit="+limit) older &raquo;
  
