#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})
  
!= partial('header', {title: "Tag Cloud"})
p(style="width: 50%;")
  - each tag in tags
    a(href="/news/tag/"+tag.tag, style="font-size: "+tag.size+"%;")= tag.tag
    span.link-sep
