h1= "Manage "+event.name

#event-controls
  ul.grid
    - if (!is_ended)
      li
        a(href="/game/"+game.code+"/event/"+event.slug+"/controls/edit") Event Information
        br
        | Edit the event name, description, etc.
      li
        a(href="/game/"+game.code+"/event/"+event.slug+"/controls/requests") Registration Requests
        br
        | Approve or deny event registrations.
      li
        a(href="/game/"+game.code+"/event/"+event.slug+"/controls/registrations") Current Registrations
        br
        | Edit current event registrations.
      li
        a(href="/game/"+game.code+"/event/"+event.slug+"/controls/invites") Invitations
        br
        | Invite new participants to your event.
    li
      a(href="/game/"+game.code+"/event/"+event.slug+"/controls/disputes") Disputes
      br
      | Review event disputes.
    - if (is_creator)
      li
        a(href="/game/"+game.code+"/event/"+event.slug+"/controls/admins") Event Admins
        br
        | Manage event admins.
      - if (!event.startdate || event.startdate >= now_string)
        li
          a(href="#!/remove") Cancel Event
          br
          | Cancel your event.

  div.modal#remove-modal
    h2 Cancel Event
    form#remove-form(method="post", accept-charset="utf-8", action="#!/remove")
      fieldset
        .form-line
          | Are you sure you want to cancel the event "#{event.name}"?
        .form-line
          button.button.positive(type="submit")
            img(src="/css/icons/tick.png", alt="")
            | &#32;Yes, Cancel
          a.button.negative.cancel(href="#!/cancel")
            img(src="/css/icons/cross.png", alt="")
            | &#32;No, Don't Cancel

ul.grid
  li
    a(href="/game/"+game.code+"/event/"+event.slug) View Profile
    br
    | View the event profile.

script(type="text/javascript", src="/js/event_controls.js")