h1 View Pending Dispute

#disputes
  != partial('match', {match: dispute, show_disputes: true, show_actions: true})

  != partial('dispute_actions')

script(type="text/javascript", src="/js/client_math_lexer.js")
script(type="text/javascript", src="/js/event_matchsummary.js")
script(type="text/javascript", src="/js/event_disputeactions.js")