h1= event.name+" "+title
h4= game.name+", "+event.gametype.name.toUpperCase()

ul.grid3
  li
    a(href="/game/"+game.code+"/event/"+event.slug+"/stats") Event Statistics
  li
    a(href="/game/"+game.code+"/event/"+event.slug+"/matches") Event Matches
  li
    a(href="/game/"+game.code+"/event/"+event.slug+"/gametype") Event Game Type
  - if (is_participant && event_is_current)
    li
      a(href="/game/"+game.code+"/event/"+event.slug+"/matches/submit") Submit a Match
  - if (is_registerable)
    li
      a(href="/game/"+game.code+"/event/"+event.slug+"/register") Event Registration
  - if (is_admin)
    li
      a(href="/game/"+game.code+"/event/"+event.slug+"/controls") Event Controls