h1= game.name+" Event History"

div
  input#search.search(type="search", placeholder="Search")
  - if (player)
    ul.grid3(style="margin-bottom: 1em;")
      li
        a(href="/game/"+game.code+"/event/create") Create an Event

ul#directory-nav
  li
    a.small(href="/game/"+game.code+"/event#!/current-events") Current Events
  li
    a.small(href="/game/"+game.code+"/event#!/future-events", rel="future-events") Future Events
  li.selected
    a.small(href="/game/"+game.code+"/event/history") Past Events

#past-events
  h2 Past Events
  ul
    - each event in past_events
      li
        a(href="/game/"+game.code+"/event/"+event.slug)= event.name

script(type="text/javascript", src="/js/event_history.js")