!= partial('header', {title:"Registration"})

form(method="post", accept-charset="utf-8")
  fieldset
    input(type="hidden", name="csrf", value=csrf)
    .form-line
      label(for="registrant") Register As
      br
      select#registrant.text(size="1", name="registrant")
        - each opt in register_options
          option(value=opt.value)= opt.text
    .form-line
      button.button.positive(type="submit")
        img(src="/css/icons/tick.png", alt="")
        | Register
      span.link-sep
      a.button.negative(href="/game/"+game.code+"/event/"+event.slug)
        img(src="/css/icons/cross.png", alt="")
        | Cancel