#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

- if (pending_email_change)
  h1 Pending E-Mail Change
  form(method="post", accept-charset="utf-8")
    fieldset
      .form-line
        input#action-cancel(type="hidden", name="action", value="cancel")
        label Pending E-Mail Address
        br
        = pending_email_change.email
        span.link-sep -
        a(href="/player/confirm_email?email="+pending_email_change.email) Confirm
        span.link-sep -
        a#cancel-link(href="#") Cancel
  :javascript
    | $(document).ready(function (){
    |   $("a#cancel-link").click(function (event){
    |     if (confirm("Are you sure you want to cancel this e-mail change?"))
    |       $(event.target).parents("form").submit();
    |     return false;
    |   });
    | });
    
h1 Change E-Mail Address
form(method="post", accept-charset="utf-8")
  fieldset
    input#action-change(type="hidden", name="action", value="change")
    .form-line
      label(for="email") New E-Mail Address
      br
      input#email.text(type="email", name="email")
      span.field-status
        span &nbsp;
    .form-line
      label(for="email_confirm") Confirm New E-Mail Address
      br
      input#email_confirm.text(type="email", name="email_confirm")
      span.field-status
        span &nbsp;
    .form-line
      button.button.positive(type="submit")
        img(src="/css/icons/tick.png",alt="") 
        | &#32;Change E-Mail Address
        
script(type="text/javascript", src="/js/validators/playeremail.js")
