#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1 Change Password
form(method="post", accept-charset="utf-8")
  fieldset
    .form-line
      label(for="old_password") Current Password
      br
      input#old_password.text(type="password", name="old_password")
    .form-line
      label(for="password") New Password
      br
      input#password.text(type="password", name="new_password")
      span.field-status
        span &nbsp;
    .form-line
      label(for="password_confirm") Confirm New Password
      br
      input#password_confirm.text(type="password", name="new_password_confirm")
      span.field-status
        span &nbsp;
    .form-line
      button.button.positive(type="submit")
        img(src="/css/icons/tick.png",alt="")
        | &#32;Change Password
script(type="text/javascript", src="/js/validators/playerpassword.js")

