- if (typeof(crumbs) == "undefined") var crumbs = []
- if (crumbs.length)
  #breadcrumbs
    != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1 E-Mail Address Confirmation
form(method="post", action="?", accept-charset="utf-8")
  fieldset
    .form-line
      label(for="email") E-Mail Address
      br
      input#email.text(type="email", name="email", value=pending_email)
    .form-line
      label(for="token") Confirmation Token
      br
      input#token.text(type="text", name="token")
    .form-line
      button(type="submit")
        img(src="/css/icons/tick.png",alt="")
        | &#32;Confirm E-Mail
