h1 E-Mail Address Confirmation Success
p 
  | Your changed e-mail address has been successfully confirmed. You should now
  |  be able to 
  a(href="/login") log in
  |  using that new e-mail address and your previous password.
