h1 E-Mail Address Confirmation Success
p 
  | Your e-mail address has been successfully confirmed. You should now
  |  be able to 
  a(href="/login") log in
  |  with the password you submitted upon registration.
