h1 E-Mail Address Confirmation
form(method="post", accept-charset="utf-8")
  fieldset.font-size
    table.form.form-two-column
      tbody
        tr
          td.label
            label(for="email") E-Mail Address
          td.field
            .field-data
              input#email(type="text", name="email")
        tr
          td.label
            label(for="token") Confirmation Token
          td.field
            .field-data
              input#token(type="text", name="token")
        tr
          td.action(colspan="2")
            button(type="submit") Confirm E-Mail
