- var crumbs = [{href: "/", text: "Home"}, {href: "/player/controls", text: "Player Controls"}];
#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1 Player Control Panel
ul.grid
  li
    a(href="/player/change_pass") Change Password
    br
    | Change your current password.
  li
    a(href="/player/change_email") Change E-Mail Address
    br
    | Change your current e-mail address.
  li
    a(href="/player/aliases") Manage Aliases
    br
    | Add and remove aliases.
  li
    a(href="/player/avatar") Change Avatar
    br
    | Change your avatar.
  li
    a(href="/player/groups") Manage Groups
    br
    | Create, Edit, and Join Groups
  li
    a(href="/player/datetime") Date and Time Preferences
    br
    | Select your timezone and display format preferences.
