h1 Player Control Panel
ul.grid
  li
    a(href="/player/controls/change_pass") Change Password
    br
    | Change your current password.
  li
    a(href="/player/controls/change_email") Change E-Mail Address
    br
    | Change your current e-mail address.
  li
    a(href="/player/controls/aliases") Manage Aliases
    br
    | Add and remove aliases.
  li
    a(href="/player/controls/avatar") Change Avatar
    br
    | Change your avatar.
  li
    a(href="/player/controls/memberships") Manage Memberships
    br
    | Join and leave groups, respond to group invitations.
  li
    a(href="/player/controls/groups") Manage Groups
    br
    | Manage groups for which you have owner or admin privileges.
  li
    a(href="/player/controls/einvites") Event Invitations
    br
    | Respond to event, tournament, and ladder invitations.
  li
    a(href="/player/controls/events") Manage Events
    br
    | Manage events for which you have creator or admin privileges.
  li
    a(href="/player/controls/datetime") Date and Time Preferences
    br
    | Select your timezone and display format preferences.

ul.grid
  li
    a(href="/player") View Player Profile
    br
    | View your public profile.