h1 Manage Groups

h2 Owned Groups
ul.owned-groups.admin
  - each group in ogroups
    li
      a(href="/group/"+group.code)= group.name
      a.action(href="/group/"+group.code+"/controls") manage
  li.last
    a(href="/group/create") Create new group...

h2 Admin Groups
ul.owned-groups.admin
  - each group in agroups
    li
      a(href="/group/"+group.code)= group.name
      a.action(href="/group/"+group.code+"/controls") manage
  li