#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})
  
h1 Player Groups

h2 Group Memberships
ul
  - each group in member_groups
    li
      a(href="/group/profile/"+group.code)= group.name
a(href="#") Join new group...


h2 Owned Groups
ul
  - each group in owned_groups
    li
      a(href="/group/profile/"+group.code)= group.name
a(href="/group/create") Create new group...
