ul.grid
  li
    a(href="/player/search") Player Search
  - if (player)
    li
      a(href="/player/controls") Control Panel
  - else
    li
      a(href="/player/register") Registration

- if (title)
  h1= title