#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

h1 Player Services

ul.grid
  li
    a(href="/player/search") Player Search
    br
    | Search for players by handle or alias.
  - if (typeof player != "undefined" && player)
    li
      a(href="/player/profile") Player Profiles
      br
      | View your profile.
    li
      a(href="/player/controls") Control Panel
      br
      | Change your preferences.
  - else
    li
      a(href="/player/register") Registration
      br
      | Register yourself as a player.