h1 Lost Password Recovery
form(method="post", accept-charset="utf-8")
  fieldset
    input(type="hidden", name="csrf", value=csrf)
    .form-line
      label(for="email") E-Mail Address
      br
      input#email.text(type="email", name="email")
    .form-line
      button.button.positive(type="submit")
        img(src="/css/icons/tick.png",alt="")
        | &#32;Recover Password
