#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})
  
#player-profile
  img.avatar(src=avatar(player, 160))

  h1
    span.alias= alias
    span.handle= "@"+player.handle

  h2 About
  ul.profile
    li
      span.label Joined On:
      span= datetime(player.created_at)

  h2 Events

  h2 Tournaments

  h2 Ladders
