#breadcrumbs
  != partial('breadcrumbs', {collection: crumbs, as: 'crumb'})

!= partial('header', {title: "Player Search"})

form(method="get", accept-charset="utf-8")
  fieldset
    .form-line
      | Search terms must be at least 3 characters long.
    .form-line
      label(for="query") Search Term
      br
      input#query.text(type="text", name="query", value=query)
    .form-line
      button.button(type="submit") Search

- if (results)
  h2 Search Results
  ul.search-results
    - if (results.length == 0)
      li
        | No search results were found for your query.
    - each result in results
      li
        a(href="/player/"+result.alias+"@"+result.handle)
          span.alias= result.alias
          span.handle= "@"+result.handle
        span.source Source: #{result.source}
    li